DEBUG=True
SECRET_KEY=secret_key
DJANGO_ALLOWED_HOSTS=localhost


POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DATABASE=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
PGPASSWORD=${POSTGRES_PASSWORD}


PROTOCOL=amqp # in prod change with "amqps"
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

TOKEN="YOUR TOKEN"

